$color-primary: #B09375;
$color-secondary: #EEE7D6;
$color-tertiary: #8D877B;
$color-footer: #F4F3EF;

$color-text: #0a0a0a;
$color-light: #ffffff;

$desktop-small-width: 576px;
$desktop-width: 992px;
$desktop-large-width: 1200px;