.index-banner {
    display: flex;
    img {
      width: 100%;
      max-height: 750px;
      object-fit: cover;
    }
}

.featured {
  h2 {
    font-size: 2.3rem;
    color: $color-primary;
    grid-column: -1/1;
  }
}

.featured-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1400px;

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    @media (min-width: $desktop-small-width) {
      height: 300px;

    }
  }
  a {
    color: $color-text;
    text-decoration: none;
  }
  a:hover {
    color: $color-primary;
  }
  p {
    color: $color-tertiary;
    font-size: 1.2rem;
  }
}